APP_ENV=local
APP_URL=http://localhost:8000
DB_HOST=127.0.0.1
DB_DATABASE=task_manager
DB_USERNAME=root
DB_PASSWORD=root

API_URL=http://localhost:8000/api

NEXT_PUBLIC_APP_ENV=dev
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_API_URL_DEV=http://localhost:8000/api
NEXT_PUBLIC_API_URL_STAGING=https://staging-api.example.com/api
NEXT_PUBLIC_API_URL_PROD=https://api.example.com/api
NEXT_PUBLIC_API_TOKEN=

EXPO_PUBLIC_APP_ENV=dev
EXPO_PUBLIC_API_URL=https://jsonplaceholder.typicode.com
EXPO_PUBLIC_API_URL_DEV=https://jsonplaceholder.typicode.com
EXPO_PUBLIC_API_URL_STAGING=https://staging-api.example.com
EXPO_PUBLIC_API_URL_PROD=https://api.example.com
